Django==1.2.3
ImageUtils==0.3.3
PIL==1.1.7
flup==1.0.3.dev-20100525
ipdb==0.2
ipython==0.10.1
mahotas==0.6
matplotlib==1.0.0 # svn+https://matplotlib.svn.sourceforge.net/svnroot/matplotlib/trunk/matplotlib
networkx==1.3
numpy==1.5.1
pymorph==0.95
scipy==0.8.0 # svn+http://svn.scipy.org/svn/scipy/trunk/#egg=scipy
sorl-thumbnail==10.12.1
wsgiref==0.1.2
