{% extends "base.html" %}
{% load i18n %}

{% block extra_scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/segmentation.filters.js"></script>
<!--[if IE]>
    <script src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js"></script>
<![endif]-->
{% endblock %}

{% block title %}
{% trans "Segmentation" %}
{% endblock %}

{% block header %}
<h1>{% trans "Filtered" %}</h1>
{% endblock %}

{% block content %}
<p align="center">
{{ image_object.title }}
<img src="{{ image_object.preprocessed_image.url }}" id="imageToProcess"/>
<canvas width="{{ image_object.preprocessed_image.width }}" height="{{ image_object.preprocessed_image.height }}" id="canvasImageToProcess"></canvas>
</p>
<form action="." method="post" enctype="multipart/form-data" id="preprocessForm">
    {% csrf_token %}
    {{ iamge_form.errors }}
    {{ image_form.as_p }}
    <input type="hidden" name="regions" id="id_regions" class="default" value="{{ regions }}" />
    <input type="submit" name="_save" class="default" value="{% trans "Next" %}" />
</form>
{% endblock %}

