{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "Segmentation" %}
{% endblock %}

{% block header %}
<h1>{% trans "Preprocessing" %}</h1>
{% endblock %}

{% block content %}
<p>
{{ image_obj.title }}
<img src="{{ image_object.image.url }}"/>

{{ ccs }}

</p>
<p>
<form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ iamge_form.errors }}
    {{ image_form.as_p }}
    <input type="submit" name="_save" class="default" value="{% trans "Run" %}" />
</form>
</p>
{% endblock %}

