{% extends "base.html" %}
{% load i18n %}

{% block extra_scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/pixastic.binarization.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/segmentation.preprocess.js"></script>
{% endblock %}

{% block title %}
{% trans "Segmentation" %}
{% endblock %}

{% block header %}
<h1>{% trans "Preprocessing" %}</h1>
{% endblock %}

{% block content %}
<p>
{{ image_object.title }}
<img src="{{ image_object.preprocessed_image.url }}" id="imageToProcess"/>
</p>
<form action="." method="post" enctype="multipart/form-data" id="preprocessForm">
    {% csrf_token %}
    {{ iamge_form.errors }}
    {{ image_form.as_p }}
    <input type="button" name="threshold_apply" id="id_threshold_apply" class="default" value="{% trans "Apply" %}" />
    <input type="button" name="invert_apply" id="id_invert_apply" class="default" value="{% trans "Invert" %}" />
    <input type="submit" name="_save" class="default" value="{% trans "Next" %}" />
</form>
{% endblock %}

