{% extends "base.html" %}
{% load i18n thumbnail %}

{% block extra_scripts %}
{% endblock %}

{% block title %}
{% trans "Methods" %}
{% endblock %}

{% block header %}
<h1>{% trans "Apply" %}</h1>
{% endblock %}

{% block content %}
{{ image_object.title }}: {{ image_object.description }}
{% thumbnail image_object.image "500x500" as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% empty %}
<em>No image</em>
{% endthumbnail %}

{{ select_method_form.as_p }}

{% endblock %}

