{% extends "base.html" %}
{% load i18n %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.formset.min.js"></script>
{{ method_form.media }}
{{ step_formset.media }}
{% endblock %}

{% block title %}
{% trans "Composer" %}: {{ mode }}
{% endblock %}

{% block header %}
<h1>{% trans "Composer" %}: {{ mode }}</h1>
{% endblock %}

{% block actions %}
<a href="{% url methods_list "functions" %}">{% trans "Functions" %}</a> |
<a href="{% url methods_list "methods" %}">{% trans "Methods" %}</a>
{% endblock %}

{% block content %}
<form id="id_method_form" action="." method="post">
{% csrf_token %}
{{ method_form.as_p }}
{{ step_formset.management_form }}
<table>
<tbody>
{% for form in step_formset.forms %}
    <tr><td>{{ form.as_p }}</td></tr>
{% endfor %}
</tbody>
</table>
<input type="submit" value="{% trans "Save" %}" id="id_save" class="button" />
</form>

<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('#id_method_form table tbody tr').formset({
          prefix: '{{ step_formset.prefix }}',
          addText: '{% trans "Add another" %}',
          addCssClass: "add-row",
          deleteText: '{% trans "Remove" %}',
          deleteCssClass: "inline-deletelink",
          formCssClass: "dynamic-{{ step_formset.prefix }}",
          emptyCssClass: "add-row"
        });
    });
})(jQuery.noConflict());
</script>

{% endblock %}

